# Copyright (c) 2025 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_DACTYL_MANUFORM_5X6_LEFT
    def_bool $(shields_list_contains,dactyl_manuform_5x6_left)

config SHIELD_DACTYL_MANUFORM_5X6_RIGHT
    def_bool $(shields_list_contains,dactyl_manuform_5x6_right)

config SHIELD_DACTYL_MANUFORM_5X6_DONGLE
    def_bool $(shields_list_contains,dactyl_manuform_5x6_dongle)
