# Copyright (c) 2025 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_DACTYL_MANUFORM_5X6_LEFT

config ZMK_KEYBOARD_NAME
    default "Dactyl 5x6"

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif

if SHIELD_DACTYL_MANUFORM_5X6_RIGHT

config ZMK_KEYBOARD_NAME
    default "Dactyl 5x6"

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif

if SHIELD_DACTYL_MANUFORM_5X6_DONGLE

config ZMK_KEYBOARD_NAME
    default "Dactyl 5x6"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DACTYL_MANUFORM_5X6_LEFT || SHIELD_DACTYL_MANUFORM_5X6_RIGHT || SHIELD_DACTYL_MANUFORM_5X6_DONGLE

config ZMK_SPLIT
    default y

endif
